/* Estilos para personalizar jquery validate */
label.error{
	color:red;
	font-weight: bold;
}
/* Estilos para poner un borde de color a los input, select, textarea */
input.error, select.error, textarea.error {
	border: 1px solid red;
}