{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Provincia</b>
      <select class="form-control" name="idprovincia_kc" id="idprovincia_kc" required>
          <option>Seleccione la provincia</option>
          {% for provincia in provincia %}
          <option value="{{provincia.idprovincia_kc}}">{{provincia.nombreprovincia_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idprovincia_kc").value="{{cliente.provincia.idprovincia_kc}}";
        </script>
        <br>
        <input type="hidden" name="idcliente_kc"  value="{{cliente.idcliente_kc}}">
      <b>Cedula del cliente</b>
        <input type="number" name="cedulacliente_kc" id="cedulacliente_kc" value="{{cliente.cedulacliente_kc}}" placeholder="Ingrese la cedula del cliente" class="form-control" required>
        <br>
        <b>Apellido del cliente</b>
        <input type="text" name="apellidocliente_kc" id="apellidocliente_kc" value="{{cliente.apellidocliente_kc}}" placeholder="Ingrese el apellido del cliente" class="form-control" required>
        <br>
        <b>Nombre del cliente</b>
        <input type="text" name="nombrecliente_kc" id="nombrecliente_kc" value="{{cliente.nombrecliente_kc}}" placeholder="Ingrese el nombre del cliente" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiacliente_kc" id="fotografiacliente_kc" class="form-control" accept="image/*">
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
