{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionDetalle/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR DETALLE</h1></center></b>
      <input type="hidden" name="iddetalle_kc"  value="{{detalle.iddetalle_kc}}">
      <b>Pedido</b>
        <select class="form-control" name="idpedido_kc" id="idpedido_kc" required>
          <option>Seleccione el pedido</option>
          {% for pedido in pedido %}
          <option value="{{pedido.idpedido_kc}}">{{pedido.fechaemisionpedido_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idpedido_kc").value="{{detalle.pedido.idpedido_kc}}";
        </script>
        <br>
        <b>Platillo</b>
        <select class="form-control" name="idplatillo_kc" id="idplatillo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for platillo in platillo %}
          <option value="{{platillo.idplatillo_kc}}">{{platillo.nombreplatillo_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idplatillo_kc").value="{{detalle.platillo.idplatillo_kc}}";
        </script>
        <br>
        <b>Descripción</b>
        <input type="text" name="descripciondetalle_kc" id="descripciondetalle_kc" value="{{detalle.descripciondetalle_kc}}" placeholder="Ingrese la descripcion del detalle" class="form-control" required>
        <br>
        <b>Cantidad</b>
        <input type="number" name="cantidaddetalle_kc" id="cantidaddetalle_kc" value="{{detalle.cantidaddetalle_kc}}" placeholder="Ingrese la cantidad" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
