{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionTipo/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR TIPO</h1></center></b>
      <input type="hidden" name="idtipo_kc"  value="{{tipo.idtipo_kc}}">
      <b>Categoria</b>
        <input type="text" name="categoriatipo_kc" id="categoriatipo_kc" value="{{tipo.categoriatipo_kc}}" placeholder="Ingrese la categoria" class="form-control" required>
        <br>
        <b>Descripcion</b>
        <input type="text" name="descripciontipo_kc" id="descripciontipo_kc" value="{{tipo.descripciontipo_kc}}" placeholder="Ingrese la Descripcion" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiatipo_kc" id="fotografiatipo_kc" class="form-control" accept="image/*">
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
