{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPedido/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>Cliente</b>
      <select class="form-control" name="idcliente_kc" id="idcliente_kc" required>
          <option>Seleccione el cliente</option>
          {% for cliente in cliente %}
          <option value="{{cliente.idcliente_kc}}">{{cliente.nombrecliente_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idcliente_kc").value="{{pedido.cliente.idcliente_kc}}";
        </script>
        <br>
        <input type="hidden" name="idpedido_kc"  value="{{pedido.idpedido_kc}}">
      <b>Fecha de emision del pedido</b>
        <input type="date" name="fechaemisionpedido_kc" id="fechaemisionpedido_kc" value="{{pedido.fechaemisionpedido_kc}}" placeholder="Ingrese la fehca de emision del pedido" class="form-control" required>
        <br>
        <b>Fecha de expiracion del pedido</b>
        <input type="date" name="fechavencimientopedido_kc" id="fechavencimientopedido_kc" value="{{pedido.fechavencimientopedido_kc}}" placeholder="Ingrese la fecha de expiracion del pedido" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
