{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProvincia/"
method="post">
      {% csrf_token %}
      <b><center><h1>EDITAR PROVINCIA</h1></center></b>
      <input type="hidden" name="idprovincia_kc"  value="{{provincia.idprovincia_kc}}">
      <b>Nombre de la Provincia</b>
        <input type="text" name="nombreprovincia_kc" id="nombreprovincia_kc" value="{{provincia.nombreprovincia_kc}}" placeholder="Ingrese el nombre de la Provincia" class="form-control" required>
        <br>
        <b>Codigo Postal</b>
        <input type="number" name="codigopostalprovincia_kc" id="codigopostalprovincia_kc" value="{{provincia.codigopostalprovincia_kc}}" placeholder="Ingrese el codigo postal" class="form-control" required>
        <br>
        <b>Región</b>
        <input type="text" name="regionprovincia_kc" id="regionprovincia_kc" value="{{provincia.regionprovincia_kc}}" placeholder="Ingrese la región" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
