{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionIngrediente/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR INGREDIENTES</h1></center></b>
      <input type="hidden" name="idingrediente_kc"  value="{{ingrediente.idingrediente_kc}}">
      <b>Nombre del ingrediente</b>
        <input type="text" name="nombreingrediente_kc" id="nombreingrediente_kc" value="{{ingrediente.nombreingrediente_kc}}" placeholder="Ingrese el nombre del ingrediente" class="form-control" required>
        <br>
        <b>Fecha de expiración</b>
        <input type="date" name="fechaexpiracioningrediente_kc" id="fechaexpiracioningrediente_kc" value="{{ingrediente.fechaexpiracioningrediente_kc}}" placeholder="Ingrese fecha de expiración" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiaingrediente_kc" id="fotografiaingrediente_kc" class="form-control" accept="image/*">
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
