{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionReceta/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR RECETA</h1></center></b>
      <input type="hidden" name="idreceta_kc"  value="{{receta.idreceta_kc}}">
      <b>Ingredientes</b>
        <select class="form-control" name="idingrediente_kc" id="idingrediente_kc" required>
          <option>Seleccione el ingrediente</option>
          {% for ingrediente in ingrediente %}
          <option value="{{ingrediente.idingrediente_kc}}">{{ingrediente.nombreingrediente_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idingrediente_kc").value="{{receta.ingrediente.idingrediente_kc}}";
        </script>
        <br>
        <b>Platillo</b>
        <select class="form-control" name="idplatillo_kc" id="idplatillo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for platillo in platillo %}
          <option value="{{platillo.idplatillo_kc}}">{{platillo.nombreplatillo_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idplatillo_kc").value="{{receta.platillo.idplatillo_kc}}";
        </script>
        <br>
        <b>Descripción</b>
        <input type="text" name="descripcionreceta_kc" id="descripcionreceta_kc" value="{{receta.descripcionreceta_kc}}" placeholder="Ingrese la descripcion de la receta" class="form-control" required>
        <br>
        <b>Dificultad</b>
        <input type="text" name="dificultadreceta_kc" id="dificultadreceta_kc" value="{{receta.dificultadreceta_kc}}" placeholder="Ingrese la dificultad de la receta" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
