{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPlatillo/"
method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b><center><h1>EDITAR PLATILLO</h1></center></b>
      <input type="hidden" name="idplatillo_kc"  value="{{platillo.idplatillo_kc}}">
      <b>Tipo de platillo</b>
        <select class="form-control" name="idtipo_kc" id="idtipo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for tipo in tipo %}
          <option value="{{tipo.idtipo_kc}}">{{tipo.categoriatipo_kc}}</option>
          {% endfor %}
        </select>
        <script type="text/javascript">
          document.getElementById("idtipo_kc").value="{{platillo.tipo.idtipo_kc}}";
        </script>
        <br>
        <b>Nombre del platillo</b>
        <input type="text" name="nombreplatillo_kc" id="nombreplatillo_kc" value="{{platillo.nombreplatillo_kc}}" placeholder="Ingrese el nombre del platillo" class="form-control" required>
        <br>
        <b>Descripción</b>
        <input type="text" name="descripcionplatillo_kc" id="descripcionplatillo_kc" value="{{platillo.descripcionplatillo_kc}}" placeholder="Ingrese la descripcion del platillo" class="form-control" required>
        <br>
        <b>Precio</b>
        <input type="number" name="precioplatillo_kc" id="precioplatillo_kc" value="{{platillo.precioplatillo_kc}}" placeholder="Ingrese el precio del platillo" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiaplatillo_kc" id="fotografiaplatillo_kc" class="form-control" accept="image/*">
        <br>
      <center>
        <button type="submit" name="button"
        class="btn btn-warning">
          &nbsp;&nbsp;&nbsp;Editar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
