{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-bowl-food"></i>AGREGAR TIPO</h1></b></center>
			<form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data" id="frm_nuevo_tipo">
				{% csrf_token %}
				<b>Categoria</b>
				<input type="text" name="categoriatipo_kc" id="categoriatipo_kc" placeholder="Ingrese la categoria" class="form-control" required>
				<br>
				<b>Descripción</b>
				<input type="text" name="descripciontipo_kc" id="descripciontipo_kc" value="" placeholder="Ingrese la descripcion" class="form-control" required>
				<br>
        <b>Fotografía</b>
        <input type="file" name="fotografiatipo_kc" id="fotografiatipo_kc" class="form-control" accept="image/*">
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarTipo('/guardarTipo/{{tipo.idtipo_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE TIPOS</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/tipo1.png"></center>
			<table class="table table-dark" id="tbl_tipo">
				<thead>
					<tr>
						<th>ID</th>
						<th>CATEGORIA</th>
						<th>DESCRIPCION</th>
            <th>FOTOGRAFIA</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for tipo in tipo %}
					<tr>
						<td>{{tipo.idtipo_kc}}</td>
						<td>{{tipo.categoriatipo_kc}}</td>
						<td>{{tipo.descripciontipo_kc}}</td>
            <td>
              {% if tipo.fotografiatipo_kc %}
              <a href="{{tipo.fotografiatipo_kc.url}}" target="_blank"></a>
                <img src="{{tipo.fotografiatipo_kc.url}}" height="70px">
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
						<td>
							<a href="/editarTipo/{{tipo.idtipo_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarTipo('/eliminarTipo/{{tipo.idtipo_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

  <script type="text/javascript">
      function eliminarTipo(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el tipo seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
{% endblock %}

