{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>AGREGAR RECETA</h1></b></center>
			<form class="" action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_receta">
				{% csrf_token %}
        <b>Ingredientes</b>
        <select class="form-control" name="idingrediente_kc" id="idingrediente_kc" required>
          <option>Seleccione el ingrediente</option>
          {% for ingrediente in ingrediente %}
          <option value="{{ingrediente.idingrediente_kc}}">{{ingrediente.nombreingrediente_kc}}</option>
          {% endfor %}
        </select>
        <br>
        <b>Platillo</b>
        <select class="form-control" name="idplatillo_kc" id="idplatillo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for platillo in platillo %}
          <option value="{{platillo.idplatillo_kc}}">{{platillo.nombreplatillo_kc}}</option>
          {% endfor %}
        </select>
        <br>
				<b>Descripción</b>
				<input type="text" name="descripcionreceta_kc" id="descripcionreceta_kc" placeholder="Ingrese la descripcion de la receta" class="form-control" required>
				<br>
        <b>Dificultad</b>
        <input type="text" name="dificultadreceta_kc" id="dificultadreceta_kc" value="" placeholder="Ingrese la dificultad de la receta" class="form-control" required>
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarReceta('/guardarReceta/{{receta.idreceta_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE RECETAS</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/receta.png"></center>
			<table class="table table-dark" id="tbl_receta">
				<thead>
					<tr>
						<th>ID</th>
						<th>DESCRIPCIÓN</th>
            <th>DIFICULTAD</th>
            <th>INGREDIENTE</th>
            <th>PLATILLO</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for receta in receta %}
					<tr>
						<td>{{receta.idreceta_kc}}</td>
						<td>{{receta.descripcionreceta_kc}}</td>
						<td>{{receta.dificultadreceta_kc}}</td>
            <td>{{receta.ingrediente.nombreingrediente_kc}}</td>
            <td>{{receta.platillo.nombreplatillo_kc}}</td>
						<td>
							<a href="/editarReceta/{{receta.idreceta_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarReceta('/eliminarReceta/{{receta.idreceta_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

