{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-user"></i>AGREGAR CLIENTES</h1></b></center>
			<form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
				{% csrf_token %}
        <b>Provincia</b>
        <select class="form-control" name="idprovincia_kc" id="idprovincia_kc" required>
          <option>Seleccione la provincia</option>
          {% for provincia in provincia %}
          <option value="{{provincia.idprovincia_kc}}">{{provincia.nombreprovincia_kc}}</option>
          {% endfor %}
        </select>
        <br>
				<b>Cedula del cliente</b>
				<input type="number" name="cedulacliente_kc" id="cedulacliente_kc" placeholder="Ingrese la cedula del cliente" class="form-control" required>
				<br>
				<b>Apellido del cliente</b>
				<input type="text" name="apellidocliente_kc" id="apellidocliente_kc" value="" placeholder="Ingrese el apellido del cliente" class="form-control" required>
				<br>
				<b>Nombre del cliente</b>
				<input type="text" name="nombrecliente_kc" id="nombrecliente_kc" value="" placeholder="Ingrese el nombre del cliente" class="form-control" required>
				<br>
        <b>Fotografía</b>
        <input type="file" name="fotografiacliente_kc" id="fotografiacliente_kc" class="form-control" accept="image/*">
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarCliente('/guardarCliente/{{cliente.idcliente_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-user"></i>LISTA DE CLIENTES</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/cliente.png"></center>
			<table class="table table-dark" id="tbl_cliente">
				<thead>
					<tr>
						<th>ID</th>
						<th>CEDULA</th>
						<th>APELLIDO</th>
						<th>NOMBRE</th>
            <th>PROVINCIA</th>
            <th>FOTOGRAFIA</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for cliente in cliente %}
					<tr>
						<td>{{cliente.idcliente_kc}}</td>
						<td>{{cliente.cedulacliente_kc}}</td>
						<td>{{cliente.apellidocliente_kc}}</td>
            <td>{{cliente.nombrecliente_kc}}</td>
            <td>{{cliente.provincia.nombreprovincia_kc}}</td>
            <td>
              {% if cliente.fotografiacliente_kc %}
              <a href="{{cliente.fotografiacliente_kc.url}}" target="_blank"></a>
                <img src="{{cliente.fotografiacliente_kc.url}}" height="70px">
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
						<td>
							<a href="/editarCliente/{{cliente.idcliente_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarCliente('/eliminarCliente/{{cliente.idcliente_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

