{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>AGREGAR INGREDIENTES</h1></b></center>
			<form class="" action="/guardarIngrediente/" method="post" enctype="multipart/form-data" id="frm_nuevo_ingrediente">
				{% csrf_token %}
				<b>Nombre del ingrediente</b>
				<input type="text" name="nombreingrediente_kc" id="nombreingrediente_kc" value="" placeholder="Ingrese el nombre del ingrediente" class="form-control" required>
				<br>
        <b>Fecha de expiración</b>
        <input type="date" name="fechaexpiracioningrediente_kc" id="fechaexpiracioningrediente_kc" value="" placeholder="Ingrese fecha de expiración" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiaingrediente_kc" id="fotografiaingrediente_kc" class="form-control" accept="image/*">
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarIngrediente('/guardarIngrediente/{{ingrediente.idingrediente_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>LISTA DE INGREDIENTE</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/ingrediente.png"></center>
			<table class="table table-dark" id="tbl_ingrediente">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
            <th>FECHA DE EXPIRACION</th>
            <th>FOTOGRAFIA</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for ingrediente in ingrediente %}
					<tr>
						<td>{{ingrediente.idingrediente_kc}}</td>
						<td>{{ingrediente.nombreingrediente_kc}}</td>
						<td>{{ingrediente.fechaexpiracioningrediente_kc}}</td>
            <td>
              {% if ingrediente.fotografiaingrediente_kc %}
              <a href="{{ingrediente.fotografiaingrediente_kc.url}}" target="_blank"></a>
                <img src="{{ingrediente.fotografiaingrediente_kc.url}}" height="70px">
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
						<td>
							<a href="/editarIngrediente/{{ingrediente.idingrediente_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.idingrediente_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

