{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>AGREGAR DETALLES</h1></b></center>
			<form class="" action="/guardarDetalle/" method="post" enctype="multipart/form-data" id="frm_nuevo_detalle">
				{% csrf_token %}
        <b>Pedido</b>
        <select class="form-control" name="idpedido_kc" id="idpedido_kc" required>
          <option>Seleccione el pedido</option>
          {% for pedido in pedido %}
          <option value="{{pedido.idpedido_kc}}">{{pedido.fechaemisionpedido_kc}}</option>
          {% endfor %}
        </select>
        <br>
        <b>Platillo</b>
        <select class="form-control" name="idplatillo_kc" id="idplatillo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for platillo in platillo %}
          <option value="{{platillo.idplatillo_kc}}">{{platillo.nombreplatillo_kc}}</option>
          {% endfor %}
        </select>
        <br>
				<b>Descripción</b>
				<input type="text" name="descripciondetalle_kc" id="descripciondetalle_kc" value="" placeholder="Ingrese la descripcion del detalle" class="form-control" required>
				<br>
        <b>Cantidad</b>
        <input type="number" name="cantidaddetalle_kc" id="cantidaddetalle_kc" value="" placeholder="Ingrese la cantidad" class="form-control" required>
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarDetalle('/guardarDetalle/{{detalle.iddetalle_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>LISTA DE DETALLES</h1></b></center>
			<br>
			<center><img style="width: 120px " width="250px" src="static/img/detalle3.png"></center>
			<table class="table table-dark" id="tbl_detalle">
				<thead>
					<tr>
						<th>ID</th>
						<th>DESCRIPCIÓN</th>
            <th>CANTIDAD</th>
            <th>PEDIDO</th>
            <th>PLATILLO</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for detalle in detalle %}
					<tr>
						<td>{{detalle.iddetalle_kc}}</td>
						<td>{{detalle.descripciondetalle_kc}}</td>
						<td>{{detalle.cantidaddetalle_kc}}</td>
            <td>{{detalle.pedido.fechaemisionpedido_kc}}</td>
            <td>{{detalle.platillo.nombreplatillo_kc}}</td>
						<td>
							<a href="/editarDetalle/{{detalle.iddetalle_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarDetalle('/eliminarDetalle/{{detalle.iddetalle_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

