{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>AGREGAR PLATILLO</h1></b></center>
			<form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo">
				{% csrf_token %}
        <b>Tipo de platillo</b>
        <select class="form-control" name="idtipo_kc" id="idtipo_kc" required>
          <option>Seleccione el tipo de platillo</option>
          {% for tipo in tipo %}
          <option value="{{tipo.idtipo_kc}}">{{tipo.categoriatipo_kc}}</option>
          {% endfor %}
        </select>
        <br>
				<b>Nombre del platillo</b>
				<input type="text" name="nombreplatillo_kc" id="nombreplatillo_kc" placeholder="Ingrese el nombre del platillo" class="form-control" required>
				<br>
				<b>Descripción</b>
				<input type="text" name="descripcionplatillo_kc" id="descripcionplatillo_kc" value="" placeholder="Ingrese la descripcion del platillo" class="form-control" required>
				<br>
        <b>Precio</b>
        <input type="number" name="precioplatillo_kc" id="precioplatillo_kc" value="" placeholder="Ingrese el precio del platillo" class="form-control" required>
        <br>
        <b>Fotografía</b>
        <input type="file" name="fotografiaplatillo_kc" id="fotografiaplatillo_kc" class="form-control" accept="image/*">
        <br>
				<center>
					<button href="javascript:void(0)" onclick="guardarTipo('/guardarPlatillo/{{platillo.idplatillo_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-plate-wheat"></i>LISTA DE PLATILLOS</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/platillo1.png"></center>
			<table class="table table-dark" id="tbl_platillo">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>DESCRIPCIÓN</th>
            <th>PRECIO</th>
            <th>FOTOGRAFIA</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for platillo in platillo %}
					<tr>
						<td>{{platillo.idplatillo_kc}}</td>
						<td>{{platillo.nombreplatillo_kc}}</td>
						<td>{{platillo.descripcionplatillo_kc}}</td>
            <td>{{platillo.precioplatillo_kc}}</td>
            <td>
              {% if platillo.fotografiaplatillo_kc %}
              <a href="{{platillo.fotografiaplatillo_kc.url}}" target="_blank"></a>
                <img src="{{platillo.fotografiaplatillo_kc.url}}" height="70px">
              {% else %}
                <b>N/A</b>
              {% endif %}
            </td>
						<td>
							<a href="/editarPlatillo/{{platillo.idplatillo_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.idplatillo_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

