{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>AGREGAR PROVINCIA</h1></b></center>
			<form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia">
				{% csrf_token %}
				<b>Nombre de la Provincia</b>
				<input type="text" name="nombreprovincia_kc" id="nombreprovincia_kc" placeholder="Ingrese el nombre de la Provincia" class="form-control" required>
				<br>
				<b>Codigo Postal</b>
				<input type="number" name="codigopostalprovincia_kc" id="codigopostalprovincia_kc" value="" placeholder="Ingrese el codigo postal" class="form-control" required>
				<br>
				<b>Región</b>
				<input type="text" name="regionprovincia_kc" id="regionprovincia_kc" value="" placeholder="Ingrese la región" class="form-control" required>
				<br>
				<center>
					<button href="javascript:void(0)" onclick="guardarProvincia('/guardarProvincia/{{provincia.idprovincia_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-mountain-sun"></i>LISTA DE PROVINCIAS</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/provincia1.png"></center>
			<table class="table table-dark" id="tbl_provincia">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>CODIGO POSTAL</th>
						<th>REGION</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for provincia in provincia %}
					<tr>
						<td>{{provincia.idprovincia_kc}}</td>
						<td>{{provincia.nombreprovincia_kc}}</td>
						<td>{{provincia.codigopostalprovincia_kc}}</td>
            <td>{{provincia.regionprovincia_kc}}</td>
						<td>
							<a href="/editarProvincia/{{provincia.idprovincia_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarProvincia('/eliminarProvincia/{{provincia.idprovincia_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
   
{% endblock %}

