{% extends "./plantilla.html" %}
{% block contenido %}
	
  <br>
	<div class="row">
		<div class="col-md-5">
      <center><b><h1><i class="fa-solid fa-truck"></i></i>AGREGAR PEDIDO</h1></b></center>
			<form class="" action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_pedido">
				{% csrf_token %}
        <b>Cliente</b>
        <select class="form-control" name="idcliente_kc" id="idcliente_kc" required>
          <option>Seleccione el cliente</option>
          {% for cliente in cliente %}
          <option value="{{cliente.idcliente_kc}}">{{cliente.nombrecliente_kc}}</option>
          {% endfor %}
        </select>
        <br>
				<b>Fecha de emision del pedido</b>
				<input type="date" name="fechaemisionpedido_kc" id="fechaemisionpedido_kc" placeholder="Ingrese la fecha de emision del pedido" class="form-control" required>
				<br>
				<b>Fecha de expiracion del pedido</b>
				<input type="date" name="fechavencimientopedido_kc" id="fechavencimientopedido_kc" placeholder="Ingrese la fecha de expiracion del pedido" class="form-control" required>
				<br>
				<center>
					<button href="javascript:void(0)" onclick="guardarPedido('/guardarPedido/{{pedido.idpedido_kc}}');" type="submit" name="button" class="btn btn-primary">
					&nbsp; &nbsp; &nbsp; Guardar &nbsp; &nbsp; &nbsp;
				</button>&nbsp; &nbsp; &nbsp; &nbsp;
				<button type="reset" name="button" class="btn btn-danger">Cancelar</button>
				</center>
			</form>
			
		</div>
		<div class="col-md-7">
      <center><b><h1><i class="fa-solid fa-truck"></i></i>LISTA DE PEDIDOS</h1></b></center>
			<br>
			<center><img style="width: 120px " height="120px" src="static/img/pedido1.png"></center>
			<table class="table table-dark" id="tbl_pedido">
				<thead>
					<tr>
						<th>ID</th>
						<th>FECHA DE EMISION</th>
						<th>FECHA DE EXPIRACION</th>
						<th>CLIENTE</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					{% for pedido in pedido %}
					<tr>
						<td>{{pedido.idpedido_kc}}</td>
						<td>{{pedido.fechaemisionpedido_kc}}</td>
						<td>{{pedido.fechavencimientopedido_kc}}</td>
            <td>{{pedido.cliente.nombrecliente_kc}}</td>
						<td>
							<a href="/editarPedido/{{pedido.idpedido_kc}}" class="btn btn-warning">Editar</a>
							<a href="javascript:void(0)" onclick="eliminarPedido('/eliminarPedido/{{pedido.idpedido_kc}}');" class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
      function eliminarPedido(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el pedido seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
{% endblock %}

