{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<!-- Importacion de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Importacion de Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<!-- Importacion de jquery-validate -->
    <script type="text/javascript"
    src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
    </script>
    <!-- Importacion del archivo css para los estilos -->
	<link rel="stylesheet" href="{% static 'css/principal.css' %}">
	<!-- Importacion de iziToast -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Importacion de DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">      
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">      
    </script>





    <script type="text/javascript" src="{% static 'js/provincia.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/cliente.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/pedido.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/tipo.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/platillo.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/detalle.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/ingrediente.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/receta.js' %}"> </script>








    <!-- Importacion de Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body style="background-color: #DAF7A6 ">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/">RestauranteKC</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoProvincia' %}">Provincias</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoCliente' %}">Clientes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoPedido' %}">Pedidos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoTipo' %}">Tipos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoPlatillo' %}">Platillos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoDetalle' %}">Detalles</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoIngrediente' %}">Ingredientes</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'listadoReceta' %}">Recetas</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Link</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Dropdown
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="#">Action</a></li>
	            <li><a class="dropdown-item" href="#">Another action</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>
	{% block contenido   %}
	{% endblock %}
	</div>
        <div class="row" style="background-color: black; color: white;">
        	<div class="col-md-3 text-center">
        		<h3>
        			<b>CONTACTOS</b>
        		</h3>
        		telefono 1 <br>
        		telefono 2 <br>
        		telefono 3 <br>
        	</div>
        	<div class="col-md-4 text-center">
        		<h3>
        			<b>SERVICIOS</b>
        		</h3>
        		servicio 1 <br>
        		servicio 2 <br>
        		servicio 3 <br>
        	</div>
        	<div class="col-md-4 text-center">
        		<h3>
        			<b>REDES SOCIALES</b>
        		</h3>
        		<i class="fa-brands fa-facebook"></i> Facebook <br>
        		<i class="fa-brands fa-x-twitter"></i> Twitter <br>
        		<i class="fa-brands fa-instagram"></i> Instagram <br>
        	</div>
        </div>

	{% if messages %}
		{% for mensaje in messages %}
			<script type="text/javascript">
				iziToast.info({
				    title: 'OK',
				    message: '{{mensaje}}'
				});
			</script>
		{% endfor %}
	{% endif %}
</body>
</html>